@import 'tailwindcss';

html,
body,
#root {
	min-height: 100%;
	background-color: var(--background);
	color: var(--foreground);
	@apply scrollbar-thumb-fore scrollbar-thin scrollbar-track-transparent;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-foreground-muted: var(--foreground-muted);
	--color-accent: #adadad;

	--font-sans: system-ui, 'Segoe UI', 'Roboto', sans-serif;
	--font-title: 'Outfit', sans-serif;
}

/* Light mode */
:root,
[data-theme='light'] {
	--background: #f4f4f4;
	--foreground: #111827;
	--foreground-muted: #4b5563;
}

/* Dark mode */
[data-theme='dark'] {
	--background: #111827;
	--foreground: #f9fafb;
	--foreground-muted: #9ca3af;
}
